:host {
	font-family: 'Ropa Sans', sans-serif;
	color: #333;
	max-width: 640px;
	margin: 0 auto;
	position: relative;
}

.loadingMessage {
	text-align: center;
	padding: 40px;
	background-color: #eee;
}

.canvas {
	width: 100%;
}
